<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas rede sociais!</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/TolearSav" target="_blank" class="icoGithub">
                            <i class="fab fa-github-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/luana-suelen-savian/" target="_blank" class="icoLinkedIn">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/luanasavian/" target="_blank" class="icoInstagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">© 2021 Copyright: </span>
        <a class="text-light">Luana Savian</a>
    </div>

</footer>